---
import Outline from '@components/Home/Outline';
import Preloader from '@components/Home/Preloader';
import Cursor from '@components/Home/Cursor'
import CursorObserver from '@lib/cursor-observer';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kevin Tan Portfolio</title>

		<!-- Local: /public/styles/global.css -->
		<link rel="stylesheet" href="/src/styles/global.css" />
		<!-- External -->
		
	</head>
	<body class="bg-[#FFF2D8] text-[#060200] dark:bg-black dark:text-[#e6e1da] data-[theme=vintage-one]:bg-[#EAD7BB] data-[theme=vintage-one]:text-[#060200] p-[32px] duration-700 ease cursor-none">
		<main>		
			<CursorObserver client:load >
					<slot />
					<Cursor client:visible />
			</CursorObserver>
		</main>
		
		<div class="bg">
			<div class="noise__bg" />
			<div class="noise__bg" />
		</div>

		<Outline client:visible />
		<Preloader client:load />
	</body>
</html>